spring:
  application:
    name: magdamock-service

logging:
  pattern.level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"

server:
  error:
    whitelabel:
      enabled: false

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
  tracing:
    enabled: false
    sampling.probability: 1.0
    propagation.type: B3
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

magdamock:
  mockTestcasePath: ${MOCK_TESTCASE_PATH:}
  copy-properties-from-request: ${MOCK_COPY_PROPERTIES_FROM_REQUEST:false}
  simulated-response-delay: 0

registratie:
  hoedanigheid:  ${MAGDA_HOEDANIGHEID:1300}
  identificatie: ${MAGDA_IDENTIFICATIE:kb.vlaanderen.be/aiv/burgerloket-wwoom-mock}
  service: ${spring.application.name}.${CURRENT_ENVIRONMENT:local}
  #cert-path: ${MAGDA_KEYSTORE} # uncomment to enable SOAP cryptographic features
  key-alias: ${MAGDA_KEY_ALIAS}
  key-password : ${MAGDA_KEY_PASSWORD}
  keystore-password : ${MAGDA_KEYSTORE_PASSWORD}

wiremock:
  port: 18081
  mappings-path: "classpath:/wiremock"
